#header {
    display: flex;
    align-items: center;
}

#Logo {
    float: left;
    width: 100px;
    height: auto;
}

#pfp {
    float: left;
    width: 100px;
    height: auto;
}

.blog-background-img {
    width: 500px;
    height: 200px;
}

#blog-header-img {
    width: 100%;
    height: 200px;
}

#Title {
    font-size: 40px;
    vertical-align: middle;
}

#Navbar {
    display: flex;
    align-items: center;
}

.navitem {
    margin: 10px;
}

.links {
    list-style: none;
    float: left;
}

.float-parent-element { 
    display: flex;
} 

#forum-pfp-box {
    flex: 0 0 10%;
}

#forumpost {
    flex: 1;
}