ol li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

ol, ul {
    list-style: none;
    padding-left: 0;
}

#navbar {
    display: flex;
}

#navbar > ul {
    width: 90%;
    min-width: 90%;
}

#navbar > a  {
    width: 100%;
    min-width: 100%;
}

#navbar > div {
    flex-grow: 1;
}

#navbar > ul > a {
    text-decoration: none;
    color: black;
}

#navbar > ul > a > li:hover {
    background-color: lightblue;
}

#navbar > ul > a > li {
    border: 1px solid black;
    min-width: 30%;
}

#sign-in {
    margin-left: 10px;
}

p {
    font-family: "Times New Roman", Times, serif;
}

#header {
    display: flex;
    align-items: center;
}

#Logo {
    float: left;
    width: 100px;
    height: auto;
}

.blog-background-img {
    width: 500px;
    height: 200px;
}

#blog-header-img {
    width: 100%;
    height: 200px;
}

#page-title {
    font-size: 80px;
    vertical-align: middle;
}

#Navbar {
    display: flex;
    align-items: center;
}

.navitem {
    padding: 10px;
}

.links {
    list-style: none;
    float: left;
}

.float-parent-element { 
    display: flex;
} 

.flex-child {
    flex: 1;
}

#forumpost {
    flex: 1;
}

.left-list {
    width: 90%
}

.left-list > * p {
    min-width: 90%;
}

.ForumTopicList {
    flex: 1;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    border: 3px solid green;
}

/* Forum Main Page */

/* Forum Topic Header */

#forum-pfp {
    float: left;
    width: 100px;
    height: auto;
}

#ForumTopicHeaderHeader {
    font-size: 40px;
}

#ForumTopicContainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#ForumTopic {
    display: flex;
    align-items: center;
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

#ForumTopic > * {
    margin: 5px;
}

.ForumSummary > hr {
   border: 1px solid #009879;
}

.ForumSummaryMainInfo, .ForumSummaryStats {
    display: table-cell;
    margin-left: 0px;
}

.ForumSummaryMainInfo {
    width: 100%;
}

/* Topic Generator */

#title {
    font-size: 16px;
}

input[type=text] {
    width: 20%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-family: "Times New Roman", Times, serif;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 0px;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 0px;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/* Topic List */

#TopicList {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-left: 10px;
}

#TopicList > h2 {
    font-size: 40px;
    margin: 0px;
}

#TopicList > ol > a > * {
    border-bottom: 1px solid #009879;
    padding: 10px;
}

/* ForumPage */

/* Forum Post */

#ForumTitle {
    font-size: 40px;
}

#forum-post-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#forum-pfp-box {
    margin-right: 10px;
}

/* Forum Generator */

/* Blog Main Page */

/* Blog Grid */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: green;
    padding: 10px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#BlogMainPageTitle {
    font-size: 40px;
}

/* Blog Block */
#blog-block > a {
    text-decoration: none;
    color: black;
}

/* Blog Page */

#blog-header {
    border-radius: 5px;
    background-color: #f2f2f2;
    border: 3px solid green;
}

/* Blog Header */

#blog-post {
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    border: 3px solid green;
}

#blog-header {
    border: 3px solid green;
}

#blog-header-img {
    max-width: 100%;
    max-height: 100%;
}

#blog-header-image-div {
    position: relative;
}

.centered {
    position: absolute;
    bottom: 50%;
    right: 50%;
    color: black;
    font-size: 50px;
}

#blog-header-description {
    border-top: 1px solid black;
}

#blog-comments {
    margin-right: 10px;
}

#blog-author-info {
    border-bottom: 1px solid black;
}

#blog-pfp-box {
    display: flex;
    align-items: center;
}

#blog-pfp {
    width: 100px;
    height: 100px;
}

#blog-author {
    margin-left: 10px;
}

/* SignInPage */
/*
#username {
    width: auto;
}

#password {
    width: auto;
}

#SignInContainer {
    display: inline-block;
    width: auto;
    height: auto;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }
  */