#header {
    display: flex;
    align-items: center;
}

#Logo {
    float: left;
    width: 100px;
    height: auto;
}

#Title {
    font-size: 40px;
    vertical-align: middle;
}

#Navbar {
    display: flex;
    align-items: center;
}

.navitem {
    margin: 10px;
}

.links {
    list-style: none;
    float: left;
}

